<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIFT SIGN UP 2</title>
    <!-- Bootstrap css -->
    <!-- <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Raleway font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Flags -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main class="container-flex-column align-items vh100">
        <div class="container align-items vh85">
            <div class="row">
                <div class="">
                    <!-- form -->
                    <form role="form" class="col-md-4 form-style vh85">
                       
                        <!--  top form -->
                        <div class="">
                            <!--  back button -->
                            <br>
                            <br>
                            <a href="#" type="button" class="btn text-left inline-block padding-sign-up">
                                <span class="glyphicon glyphicon-chevron-left glyphicon-back-btn" aria-hidden="true"></span>
                            </a>
                            <!-- title -->
                            <h3 class="text-center inline-block title">Sign Up</h3>
                            <br>
                            <!-- help block -->
                            <p class="line-divider help-block text-center"><span>Join now for free ride credit</span></p>
                        </div>  

                        <!-- form inputs-->
                        <div class="row"> 
                            <div class="display-table"> 
                                <!-- name -->
                                <div class="col-xs-6 col-sm-6 col-md-6 first-name-padding">
                                    <div class="form-group ">
                                        <label class="sr-only" for="first-name">Name</label>
                                        <div class="input-group">
                                            <div class="input-group-addon pink-color"><span class="glyphicon glyphicon-user"></span></div>
                                            <input type="text" name="first-name" id="first-name" class="form-control border-right-style " placeholder="First Name" tabindex="1">
                                        </div>
                                    </div>
                                </div>
                                <!-- last name -->
                                <div class="col-xs-6 col-sm-6 col-md-6 last-name-padding">
                                    <div class="form-group">
                                        <label class="sr-only" for="last-name">Last Name</label>
                                        <input type="text" name="last-name" id="last-name" class="form-control border-left-style" placeholder="Last Name" tabindex="2">
                                    </div>
                                </div>
                            </div> <!-- .display-table  END-->
                        </div> <!-- .row  END-->
                        <div class="row"> 
                            <!-- email -->
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="sr-only" for="email">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-addon pink-color"><span class="glyphicon glyphicon-envelope"></span></div>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" tabindex="1">
                                    </div>
                                </div>
                            </div>    
                        </div>   
                        <!-- checkbox  -->
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> I agree to Lyft's <a class="pink-color" href="#">Terms of Services.</a>
                            </label>
                        </div>
                        <!-- "NEXT" button -->
                        <br>
                        <a class="btn btn-default btn-next text-uppercase" href="#" role="button" disabled>Next</a>
                    </form>  <!-- form END-->
                </div>  <!-- -->
            </div> <!-- .row END-->
        </div> <!-- .container align-items outline vh85 END-->
    </main>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- app.js -->
    <!-- <script type="text/javascript" src="../js/app.js"></script> -->
</body>
</html>